.main{
    background: #090000;
    width: 400px;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
}
.ab{
    width: 400px;
    height: 150px;
    background: yellowgreen;
}
.ac{
    height: 100px;
    background: aquamarine;
    flex-grow: 4;
}
.ad {
    height: 100px;
    background: #0f259a;
    flex-grow: 1;
}
